<div class="home-container">
    <div class="card-container">
      <mat-card class="info-card">
        <mat-card-title>Magyarország legnagyobb biliárdcsarnoka csak rád vár!</mat-card-title>
        <mat-card-content>
          <p>Látogass el hozzánk!</p>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button mat-button color="primary" class="big-button" routerLink="/idopontfoglalas">Időpontfoglalás</button>
        </mat-card-actions>
        <img src="../../assets/img/home_card_bg2.jpg" alt="Biliárdcsarnok" class="card-image">
      </mat-card>
    </div>
</div>
